// Colors

/* $main-background: #ffffff;
$heading-color: #000000;
$text-color: #444444;
$link-color: #46c1ae;
$excretion-light: #63d1bb;
$excretion-darck: #56c3b2;
$underline-color: #62d1ba;
$underline-light: #e5e5e5;
$index-background: #f9f9f9;
$footer-color: #f1f1f1;
$border-color: #ececec;
$modal-border: #c6c6c6;
$interior-hover: #59d5bc;
$shadow-color: rgba(0, 0, 0, 0.1); */

// Viewports

/* $tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px; */
